{% extends "base.html" %}
{% load custom_tags %}


{% block content %}
{% load static %}

<section class="one">
{% csrf_token %}
	<div class="table__design">
		<div class="choose">
                    <a href="#"><img src="{% static 'images/inf.png' %}" alt="<" width="20px"></a>
                </div>  
		<table class="tableparc" id="tbleAssol">
		    <thead>
			<tr>
			    <th class="table_cellule--form" scope="col">Parcelle</th>
			    <th class="table_cellule--form" scope="col">Surface</th>
			    {% for annee in annees %}
			    <th class="table_cellule--form" scope="col"> {{ annee.name }}</th>
			    {% endfor %}
			    <th class="table_cellule--form" scope="col">score</th>
			</tr>
		    </thead>
		    <tbody>
			{% for p in parcelles %}
			<tr>
			    <th class="table_cellule--form" scope="col"> 	{{p.name}}</th>
			    <th class="table_cellule--form" scope="col"> {{p.taille}} ha</th>
			    {% for annee in annees %}
			    <td class="draggable-receptacle table_cellule--form" id="{{p.id}}-{{annee.name}}" data-idparc="{{p.id}}" data-surface="{{p.taille}}" data-culture="" data-annee="{{annee.name}}"></td>
			    {% endfor %}
			    <td class="table_cellule--form" id="as{{p.id}}"></td>
			</tr>
			{% endfor %}
		    </tbody>
		</table>
		<div class="choose">
                    <a href="#"><img src="{% static 'images/sup.png' %}" alt=">" width="20px"></a>
                </div>
         </div>
        <div class="trash">
	        <div class="icon__bloc">
	        	{% for s in semences %}
				<div class="button--design draggable" data-rang="{{s.rang_de_culture}}">{{s.name }}</div>
			{% endfor %}
	 		
	        </div>
    	</div>
</section>
{% endblock %}
