{% extends "base.html" %}
{% load custom_tags %}


{% block content %}
{% load static %}
<section class="one">
	<div class="table__design">
		<div class="choose">
                    <a href="#"><img src="{% static 'images/inf.png' %}" alt="<" width="20px"></a>
                </div>  
		<table class="tableparc" id="tbleAssol">
		    <thead>
			<tr>
			    <th class="table_cellule--form" scope="col">#</th>
			    {% for annee in annees %}
			    <th class="table_cellule--form" scope="col"> année {{ annee.name }}</th>
			    {% endfor %}
			</tr>
		    </thead>
		    <tbody>
			{% for p in parcelles %}
			<tr>
			    <th class="table_cellule--form" scope="col"> parcelle {{p.name}}</th>
			    {% for annee in annees %}
			    <td class="draggable-receptacle table_cellule--form" id="{{p.id}}-{{annee.name}}"></td>
			    {% endfor %}
			</tr>
			{% endfor %}
		    </tbody>
		</table>
		<div class="choose">
                    <a href="#"><img src="{% static 'images/sup.png' %}" alt=">" width="20px"></a>
                </div>
         </div>
        <div class="trash">
	        <div class="icon__bloc">
	        	{% for s in semences %}
				<div class="button--design draggable" data-rang="{{s.rang_de_culture}}">{{s.name }}</div>
			{% endfor %}
	 		
	        </div>
    	</div>
</section>
{% endblock %}
